* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// admin sign in section
.signINUPHead {
    color: white;
    // font-size: xx-large;
    font-size: 2rem;
    text-shadow: 0px 0px 6px white;
}

.signINHeadDiv {
    background-color: rgb(34, 0, 128);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    box-shadow: 1px 1px 10px 1px black;

}

.signINUPInputFields {
    border: none;
    border-bottom: solid 3px black;
    outline: none;
    width: 50%;
    max-width: 200px;
    font-size: 1rem;
    font-family: cursive;
    margin-left: 1rem;
    color: #2222ff;

    &::placeholder {
        color: rgb(182, 155, 255);
    }
}

.containerSignIN {
    display: grid;
    justify-content: space-around;
}

.signINUPText {
    color: #00008d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}


.settingNavLink {
    text-decoration: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.allignCenterSignIN {
    text-align: center;
}


// screen 2 section

.screen2Head {
    color: white;
    // font-size: xx-large;
    font-size: 1.5rem;
    text-shadow: 0px 0px 6px white;
}

.screen2HeadDiv {
    background-color: #220080;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px 1px black;
}

.UserAddINUPText {
    color: #00008d;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}

.UserAddedINUPInputFields {
    border: none;
    border-bottom: solid 3px black;
    outline: none;
    width: 50%;
    max-width: 200px;
    font-size: 1rem;
    font-family: cursive;
    margin-left: 1rem;
    color: #2222ff;

    &::placeholder {
        color: rgb(182, 155, 255);
    }
}



// user list (user display)
.userBase {
    color: #2222ff;
    // font-family: 'Times New Roman', Times, serif;
    font-family: cursive;
    width: 25vw;
    height: 28vh;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin: 1rem;
    font-size: 1rem;
    text-align: left;
    border-radius: 1rem;
    padding-top: 1.5rem;
    font-size: 1rem;
    box-shadow: 0px 0px 10px 0px black;
    overflow-x: scroll;
    overflow-y: auto;
    overflow: scroll;
    overflow-y: hidden;

    p {
        font-family: cursive;
    }

    span {
        color: rgb(19, 0, 194);
    }
}

.userBase::-webkit-scrollbar {
    overflow: hidden;
}

.deleteButton {
    font-family: 'Times New Roman', Times, serif;
    color: red;

    &:hover {
        color: white;
    }
}



.parent {
    margin-top: 20px;
}

.centerDiv {
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
}

.centerDiv::-webkit-scrollbar {
    overflow: hidden;
}

.noUserHead {
    color: #2222ff;
    text-align: center;
    margin-top: 2rem;
}

.userDiv:hover {
    transform: scale(1.1);
}

@media (max-width:1000px) {
    .userBase {
        font-size: 1rem;
        margin: 1rem;
        width: 40vw;
        height: 30vh;
    }
}

@media (max-width:700px) {

    .signINHeadDiv,
    .screen2HeadDiv {
        height: 15vh;
    }

    .userBase {
        font-size: 0.9rem;
        margin: 1rem;
        width: 80vw;
        height: 30vh;
    }
}